<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="col-md-4 bnr-agileitsgrids">
        <div class="agileinfo_banner_bottom_pos">
            <div class="w3_agileits_banner_bottom_pos_grid">
                <div class="col-xs-4 wthree_banner_bottom_grid_left">
                    <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 wthree_banner_bottom_grid_right">
                    <h4>Free Consultation</h4>
                    <p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 bnr-agileitsgrids w3grid1">
        <div class="agileinfo_banner_bottom_pos">
            <div class="w3_agileits_banner_bottom_pos_grid">
                <div class="col-xs-4 wthree_banner_bottom_grid_left">
                    <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 wthree_banner_bottom_grid_right">
                    <h4>Certified Products</h4>
                    <p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 bnr-agileitsgrids w3grid2">
        <div class="agileinfo_banner_bottom_pos">
            <div class="w3_agileits_banner_bottom_pos_grid">
                <div class="col-xs-4 wthree_banner_bottom_grid_left">
                    <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 wthree_banner_bottom_grid_right">
                    <h4>Free Helpline</h4>
                    <p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //banner-bottom -->