<!-- banner -->
<div class="w3ls-banner jarallax">
    <div class="w3lsbanner-info">

        <!-- header -->
        {% include '::header.html.twig' %}
        <!-- //header -->
        <!-- banner-text -->
        {% include '::banner-text.html.twig' %}
        <!-- //banner-text -->
    </div>
</div>
<!-- //banner -->