<!-- blog-bottom -->
<div class="blog-bottom">
    <div class="container">
        <div class="col-sm-5 w3_agile_blog_bottom_left">
            <img src="images/s1.jpg" alt=" " class="img-responsive" />
        </div>
        <div class="col-sm-7 w3_agile_blog_bottom_right">
            <h5>Best Pets</h5>
            <h3>24/7 Customer Service Support</h3>
            <p>Pellentesque accumsan cursus dui, sodales blandit urna sodales vitae.
                Maecenas placerat eget mi vitae euismod. Duis aliquam efficitur mi,
                et eleifend velit.</p>
            <div class="w3l_more">
                <a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
                    <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
                </a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //blog-bottom -->