<div class="modal-body login-page "><!-- login-page -->
    <div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item" aria-controls="tab_item-0"><span>Login</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-1"><span>Register</span></li>
            </ul>
            <div class="clearfix"> </div>
            <div class="resp-tabs-container">
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                    <div class="agileits-login">
                        <form action="#" method="post">
                            <input type="email" class="email" name="Email" placeholder="Email" required=""/>
                            <input type="password" class="password" name="Password" placeholder="Password" required=""/>
                            <div class="wthree-text">
                                <ul>
                                    <li>
                                        <label class="anim">
                                            <input type="checkbox" class="checkbox">
                                            <span> Remember me ?</span>
                                        </label>
                                    </li>
                                    <li> <a href="#">Forgot password?</a> </li>
                                </ul>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3ls-submit">
                                <input type="submit" value="LOGIN">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                    <div class="login-top sign-top">
                        <div class="agileits-login">
                            <form action="#" method="post">
                                <input type="text" name="Username" placeholder="Username" required="">
                                <input type="email" class="email" name="Email" placeholder="Email" required=""/>
                                <input type="password" class="password" name="Password" placeholder="Password" required=""/>
                                <label class="anim">
                                    <input type="checkbox" class="checkbox">
                                    <span> I accept the terms of use</span>
                                </label>
                                <div class="w3ls-submit">
                                    <input class="register" type="submit" value="REGISTER">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>

</div> <!-- //login-page -->
