<!-- services -->
<div class="services jarallax">
    <div class="container">
        <h3 class="agileits-title w3title1">Our Services</h3>
        <div class="services-w3ls-row">
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-home effect-1" aria-hidden="true"></span>
                <h5>Lorem ipsum</h5>
                <p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                <h5>Ut non lacus</h5>
                <p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-tree-deciduous effect-1" aria-hidden="true"></span>
                <h5>Maec rutrum</h5>
                <p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid">
                <span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
                <h5>Phase gravida</h5>
                <p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->