{% extends ":BackEnd:index.html.twig" %}

{% block container %}

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1> Accueil</h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>Exemple d'un produit</h3>
                                <p>Femelle</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">plus d'information<i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
            </section>

{% endblock %}
