<!-- modal sign in  -->
<div class="modal bnr-modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- login-page -->
            {% include ':FrontEnd:login-page.html.twig' %}
            <!-- //login-page -->
        </div>
    </div>
</div>
<!-- //modal sign in -->  