<!-- news letter -->
<div class="subscribe jarallax">
    <div class="sub-agileinfo">
        <div class="container">
            <h3 class="agileits-title w3title1">Get our free newsletter</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est consectetur adipisci velit sed quia non numquam eius.</p>
            <form>
                <input type="email" name="email" placeholder="Email Address" class="user" required="">
                <input type="submit" value="Subscribe">
            </form>
            <p class="spam">We never share your information or use it to spam you</p>
        </div>
    </div>
</div>
<!-- //news letter -->