<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="ajout-edit.php">Produits</a>
            </li>
            <li>
                <a href="ajout-edit.php">Catégories produits</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="ajout-edit.php">Clients</a>
            </li>
            <li>
                <a href="ajout-edit.php">Commandes</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('admin_listVet') }}">Veterinaire</a>
            </li>
            <li>
                <a href="ajout-edit.php">Dresseur</a>
            </li>
        </ul>
    </div>    
</div>