{% extends ":FrontEnd:base.html.twig" %}
{% block body %}
    <br><br><br><br>

    {% for animal in animal %}
        <div class="col-md-4">
            <!-- Widget: user widget style 2 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">{{ animal.nomproprietaire }}</h3>
                    <h5 class="widget-user-desc">{{ animal.nom }}</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="{{ asset('FrontEnd/images/user1-128x128.jpg') }}" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">SALES</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">13,000</h5>
                                <span class="description-text">FOLLOWERS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">PRODUCTS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

    {% else %}
        <tr><td style="text-align:center"> There is  no animals</td></tr>
    {% endfor %}



{% endblock %}
